---
import RootLayout from '../layouts/RootLayout.astro';
---

<RootLayout title="Page Not Found">
  <div class="prose prose-slate flex flex-col m-auto center justify-center">
    <h2 class="text-center">This is not the page you are looking for</h2>
    <img src="https://media1.tenor.com/m/qeDmTeiiO2AAAAAd/10.gif" />
    <span class="text-center">👈 <a href="/">Take me home</a></span>
  </div>
</RootLayout>
