---
import { Image } from 'astro:assets';
import { Content as Welcome } from '../content/home/welcome.md';
import AvatarImage from '../images/avatar.jpg';
import RootLayout from '../layouts/RootLayout.astro';
---

<RootLayout title="About">
  <div class="prose prose-slate max-w-full">
    <Image
      src={AvatarImage}
      alt="A headshot of Gary Blackwood."
      class="rounded-full w-[160px] h-[160px] md:w-[200px] md:h-[200px] md:float-right m-auto mb-8 md:mb-0 md:ms-8 border-slate-950 border-8 bg-slate-950 hover:animate-spin"
      loading="eager"
    />
    <Welcome />
  </div>
</RootLayout>
