---

---

<div class="underline cursor-pointer theme-toggle" id="theme-toggle">
  Toggle Dark Mode
</div>

<script>
  const el = document.querySelector('#theme-toggle');
  el?.addEventListener('click', () => {
    document.querySelector('html')?.classList.toggle('dark');
  });
</script>
