---
const year = new Date().getFullYear();
---

<hr class="mt-8 mb-4" />

<div
  class="text-center font-light text-sm mb-8 flex justify-center items-center"
>
  &copy {year}, Gary Blackwood | <a href="/blog" class="underline">Blog</a>
</div>
