---
const isHomeRoute = Astro.url.pathname === "/";
const year = new Date().getFullYear();
---

<hr class="mt-8 mb-4" />

<div
  class="text-center font-light text-sm mb-8 flex justify-center items-center"
>
  <span>&copy {year}, Gary Blackwood</span>
  <span class="mx-1">|</span>
  {!isHomeRoute && (
    <a href="/" class="underline">Home</a>
    <span class="mx-1">|</span>
  )}
  <a href="/blog" class="underline">Blog</a>
</div>
