.header {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 1.45rem;

  .container {
    margin: 0 auto;
    max-width: 960px;
    padding: 1.5rem 1rem 0 1rem;
  }

  .hamburger {
    display: none;
  }

  h1 {
    font-size: 3rem;
    margin: 0.5rem 0;
    transition: transform 0.2s;

    &:hover {
      transform: scale(1.1);
    }

    a {
      color: inherit;
      text-decoration: none;
    }
  }

  nav {
    a {
      margin-right: 0.5rem;
      text-decoration: none;

      &.active-link {
        text-decoration: underline;
      }

      &:hover {
        color: var(--primary-color);
        text-decoration: underline;
      }
    }
  }

  .sidebar {
    display: flex;
    z-index: 9999;
    flex-direction: column;
    position: fixed;
    width: 70%;
    top: 0;
    left: -70%;
    height: 100%;
    background-color: var(--bg-color);
    color: white;
    box-shadow: 0 0 0.5em 0 rgba(0, 0, 0, 0.5);
    animation: slide-left-to-right 0.5s forwards;

    /* stylelint-disable no-descending-specificity */
    a {
      display: flex;
      align-items: center;
      text-decoration: none;
      justify-content: flex-start;
      padding-left: 1rem;
      height: 4rem;
      color: var(--fg-color);
      font-family: "Exo", Helvetica, sans-serif;
      font-size: 1rem;
      background-color: var(--bg-color);

      &.active-link {
        background-color: rgba(0, 0, 0, 0.1);
        border-left: 4px solid var(--primary-color);
        padding-left: calc(1rem - 4px);
      }

      &:hover {
        background-color: rgba(0, 0, 0, 0.1);
      }
    }

    &.hidden {
      width: 0;
    }
  }

  .overlay {
    position: fixed;
    z-index: 7777;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }

  aside {
    position: absolute;
    transition: all 0.2s;
  }
}

@media only screen and (max-width: 600px) {
  .header {
    .container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 1.0875rem;
      flex-direction: row;
    }

    .hamburger {
      display: flex;
      flex-direction: column;
      width: 1.25rem;
      cursor: pointer;

      .line {
        border: 2px solid;
        border-radius: 2px;
        margin: 1px;
      }

      &:hover {
        color: var(--primary-color);
      }
    }

    nav {
      display: none;
    }

    h1 {
      font-size: 1.2rem;
      margin: 0;

      &:hover {
        transform: none;
      }
    }
  }
}

@keyframes slide-left-to-right {
  100% {
    left: 0;
  }
}
